<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="format-detection"content="telephone=no"/>
    <meta http-equiv="pragma" content="no-cache">
    <title>联系我们</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="kf">
          <div class="adv"><img src="../src/images/kf.jpg"/></div>
          <div class="kf-content">
            <p>您当前可解锁医院数为<b>0</b>，如需解锁该医院，请电话联系我们的客服或通过按住识别下方二维码添加客服微信。</p>
            <ul class="kf-contact">
              <li><i class="fa fa-phone-square fa-fw fa-lg color-primary"></i>客服热线：020-1234567</li>
            </ul>
          </div>
        </div>
      </div>
      <p class="wx"><img src="../src/images/wx.jpg"/></p>
    </div>
    <script src="http://light7.org/assets/js/zepto.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
  </body>
</html>