<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市顺德区大良医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="content-padded">
          <p>大良医院始建于1958年，是一所集医疗、教学、科研、保健、康复等功能为一体的现代化的“二级甲等综合性医院”、广东省普通高等医学院校教学医院。医院现有开放病床338张，设有内一区（心血管内科、肾内科、老年病科、疼痛科）、内二区（内分泌科、神经内科、儿科）、内三区（消化内科、呼吸内科、感染科、血液科、肿瘤科）、外一区（甲状腺专科、乳腺专科、肛肠外科、腹部外科、妇科）、外二区（泌尿外科、神经外科、中医科、康复科）、骨外科和ICU等住院病区；检验科、放射科、B超室、心电图室、消化内镜室、病理科、高压氧室、血透中心等医技科室；急诊科、专家门诊、健康管理科、口腔科、眼科、耳鼻喉科、康复医学科、皮肤整形美容科、中医骨科等专科门诊。</p>
          <p>医院技术力量雄厚，现有在职员工490人。其中，正高级职称6人，副高级专业技术职称31人,中级职称108人。</p>
          <p>医院医疗设备先进，主要有飞利浦螺旋CT、DR、C臂X光机、进口意大利高频钼靶X线乳腺检查仪、旋动式可视人工流产器、日立胃肠X射线机、进口芬兰全景口腔X光机、进口牙科综合治疗台、GE彩色多普勒超声诊断仪、动态心电图仪、多普勒脑电地形仪、全身应用型高端彩色多普勒超声波诊断仪、高端彩色多普勒超声波诊断仪、日立电子胃镜、腹腔镜、纤维喉镜、前列腺电切刀、体外碎石机、电动骨动力系统、臭氧治疗仪、眼科手术显微镜、口腔根管显微镜、全自动生化分析仪、美国雅培全自动免疫发生分析仪、全自动血气分析仪、层流净化手术室、超声手术系统-超声止血刀、射频控温热凝器、麻醉机等。</p>
          <p>医院坚持大专科发展方向，其中以中医治未病为特色，整合中医、健康管理、康复理疗等专科，创立中医、保健、治未病、健康管理和康复一条龙服务模式，并建成顺德区第二周期重点专科，先后获评广东省“治未病”健康工程试点单位和顺德首批国家“治未病”健康工程试点单位；口腔科是顺德区首批医学重点专科，长期与中山大学附属口腔医院和广东省口腔医院进行合作，在牙体牙髓病、牙周粘膜病、口腔修复、口腔外科、口腔正畸、口腔种植等疾病的治疗方面处于顺德领先水平；而乳腺专科、肛肠外科、泌尿外科、皮肤整形美容科等专科在本地区具有较大优势。</p>
          <p>目前，医院致力于引进学科带头人及高素质人才，增强技术力量提高服务水平和救治能力，医院正大力推进升级健康管理中心和血液透析中心的建设，尽快实现全面、科学、一体化具有专业特色的诊疗项目，为当地群众造福。</p>
          <p>大良医院正努力朝着一流服务、一流技术、一流管理的现代化医院的目标迈进，将为全面建设小康社会和保障广大人民群众身体健康争做更大的贡献。</p>
          <p>医院2000年开始成为省级住院医师规范化培训基地，承担住院医师规范化培训工作。2014年，眼科中心作为南方医科大学珠江医院协同基地，率先成为国家第一批规范化培训专业基地；2016年年初，经广东省卫计委审批通过，医院另有17个专业成为珠江医院的协同专业基地。</p>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>     
  </body>
</html>
