<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市高明区人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
          <div class="center">
            <div class="hos-header">
              <div class="hos-img"><img src="../src/images/tp-hos-004.jpg"></div>
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-hotel"></i></div>
                    <div class="item-inner">
                      <div class="item-title">床位数:700张</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-stethoscope"></i></div>
                    <div class="item-inner">
                      <div class="item-title">年门诊量:102万人次</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-money"></i></div>
                    <div class="item-inner">
                      <div class="item-title">诊疗收入:238850千元</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block-title clearfix">
                <span class="pull-left">医院简介</span>
                <a href="hospital-intro-002.html" class="more external pull-right">MORE</a>
              </div>
              <div class="card no-margin">
                <div class="card-content">
                  <div class="card-content-inner">佛山市高明区人民医院始建于1984年，是高明区唯一的大型现代化三级乙等综合性医院。全院业务用房面积59103平方米，总资产4.8亿元。编制床位700张，年门诊量102万人次、住院3.27万人次。是广东省普通高等医学院校教学医院、广东医学院非直属附属医院、广东省人民医院双向转诊合作医院和卫生部医改重点联系县级医院，服务人口逾120万人。</div>
                </div>
              </div>
              <div class="content-block-title clearfix">
                <span class="pull-left">科室导航</span>
              </div>
              <div class="card no-margin">
                <div class="card-header">内科系统科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内一（心血管内科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>42</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内二（感染科、消化内科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内三（神经内科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>31</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内四（呼吸内科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>9</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内五（肿瘤科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内六（肾内科、血透中心、血液科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li>
                        <a href="hospital-team-002.html" class="item-link item-content">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内七（内分泌科、风湿免疫科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>77</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">外科系统科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外一（普通外科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外二（骨一科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外三（脑外科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外四（骨二科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外五（泌尿、胸外、烧伤整形科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">外六（手外科、显微外科）</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">麻醉科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">妇儿系统科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">妇产科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">儿科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">门诊科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内科门诊</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>91</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">皮肤科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">口腔科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">耳鼻咽喉科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">眼科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">中医科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>72</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">营养科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">医技科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">放射科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">检验科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">病理科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">超声科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">心肺功能室</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">特色治疗中心</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">重症医学科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">血液净化中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">无痛诊疗中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">糖尿病专科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">康复医学中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">健康体检中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">恒亮医学验光配镜中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">高压氧治疗中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">急救中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- 医院介绍 -->
    <div class="popup popup-intro">
      <header class="bar bar-nav">
        <button class="close-popup button button-link button-nav pull-right">
          <i class="fa fa-lg fa-close">&nbsp;</i>
        </button>
        <h1 class="title">佛山市高明区人民医院</h1>
      </header>
      <div class="content">
        <div class="content-padded">
          <p>佛山市高明区人民医院始建于1984年，是高明区唯一的大型现代化三级乙等综合性医院。全院业务用房面积59103平方米，总资产4.8亿元。编制床位700张，年门诊量102万人次、住院3.27万人次。是广东省普通高等医学院校教学医院、广东医学院非直属附属医院、广东省人民医院双向转诊合作医院和卫生部医改重点联系县级医院，服务人口逾120万人。</p>
          <p>医院现有员工830人，其中高级职称88人，中级职称176人，初级职称270人；博士、硕士36人，医师中本科以上学历者占97%。</p>
          <p><strong>学科设置：</strong>医院临床学科建设齐全，设置有普通外科、心胸外科、骨外科、显微外科、颅脑外科、泌尿外科、烧伤整形外科、心血管内科、神经内科、呼吸内科、肿瘤内科、介入科、消化内科、内分泌科、肾内科、血液内科、感染内科、妇科、产科、儿科、眼科、耳鼻咽喉科、口腔科、中医科、皮肤科、麻醉科、急诊科、重症医学科、医学康复中心、无痛诊疗中心、健康体检中心、血液透析中心、医学验光配镜中心。高明区急救中心设在我院。</p>
          <p>其中，普通外科是佛山市特色专科；重症医学科、感染内科、心血管内科、关节外科、妇产科、手外科、麻醉科、超声科是区重点（特色）专科；脊柱外科、神经内科是医院重点学科。</p>
          <p>医技科室设置有检验科、输血科、病理科、放射科（含CT/MR室）、B超室、心肺功能室、内窥镜室、高压氧治疗室、手术室、供应室、营养科、电生理室、理疗室等。</p>
          <p><strong>先进设备：</strong>医院拥有1.5T核磁共振（MRI）、DSA、四维彩色多普勒、CR、DR、数字化口腔全景机、数字化乳腺钼靶机、大型生化仪、高清腹腔镜、电子胃肠镜、高压氧舱、生化分析仪、冰冻切片机、麻醉机和呼吸机、危重病人中央监护系统等总价值超亿元的先进医疗设备。</p>
          <p>医院坚持“以病人为中心、以员工为手足、以发展为目标”的办院方针，持续提高医疗技术和服务水平，建设学科强、技术精的现代化三级医院，为经济社会发展和广大市民健康保驾护航。</p>
        </div>
      </div>
    </div>
    <!-- 科室介绍 -->
    <div class="popup popup-ks">
      <header class="bar bar-nav">
        <button class="close-popup button button-link button-nav pull-right">
          <i class="fa fa-lg fa-close">&nbsp;</i>
        </button>
        <h1 class="title">内七（内分泌科、风湿免疫科）</h1>
      </header>
      <div class="content">
        <div class="card no-margin">
          <div class="card-header">
            科室介绍
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>眼科中心是广东省临床重点专科，佛山市唯一眼科学重点专科，佛山市防盲办公室、佛山市低视力指导中心、佛山市眼科研究所所在地。 眼科中心下设白内障专科、眼底病专科、青光眼专科、角膜及眼表疾病专科、眼外伤专科、视光学专科、眼肌专科、泪道病专科、准分子激光中心及特检科。年门诊量、住院人次、手术例数、医疗用房面积、病床数及医护人员数均居广东省综合性医院首位。 </p>
            </div>
          </div>
        </div>
        <div class="card no-margin card-tdjs">
          <div class="card-header">
            团队介绍
          </div>
          <div class="card-content">
            <div class="list-block media-list">
              <ul>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/2015011209040747.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:李骏</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师</div>
                    <div class="item-text">特长:内分泌科副主任医师，内七科主任、副教授,广东省糖尿病分会委员、佛山糖尿病分会副主任委员、佛山市中西结合内分泌学会副主任委员、高明区人民医院内分泌学科带头人。 擅长糖尿病、代谢综合征（高血糖、高血压、高血脂、高尿酸、脂肪肝、肥胖、）甲状腺疾病、骨质疏松症、痛风的治疗。 </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/201501121027452745.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:李有佳</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师</div>
                    <div class="item-text">特长:内分泌科副主任医师，广东省医师协会内分泌分会委员、佛山市内分泌分会委员， 长期从事内分泌专业临床一线工作，擅长于糖尿病、高脂血症、高尿酸血症及痛风、甲状腺疾病等内分泌疾病的诊治。 </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>     
  </body>
</html>
