<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市第二人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="content-padded">
          <h3>一、医院概述</h3>
          <p>医院位于繁华的市中心，至今已有94年历史，是一所融医疗、教学、科研、预防、保健、康复为一体的现代化三级甲等综合性医院，是南方医科大学附属佛山医院，也是国家级博士后科研工作站挂牌单位。</p>
          <h3>二、医院规模</h3>
          <p>医院编制床位838张，实际开放床位1038张。全院现有工作人员1263人，其中专业技术人员1145人，正高职称67人，副高职称129人，博士14人，硕士108人。设职能科室17个，临床科室47个（其中一级临床科室18个，二级临床科室29个）、医技科室15个。2015年门诊人次200万，出院病人4万。</p>
          <h3>三、医疗设备</h3>
          <p>医院拥有万元以上医疗设备共1260台，设备总价值达2.77亿多元，包括核磁共振、螺旋CT、DR、钼靶、DSA、四维超声诊断仪、大型全自动生化分析仪、准分子激光治疗仪、OCT等一大批国际领先的医疗设备。</p>
          <h3>四、学科建设</h3>
          <p>医院目前拥有9个省、市级重点（特色）专科：眼科是广东省临床重点专科、佛山市首批重点专科，入围国家重点专科遴选；耳鼻咽喉科是广东省临床重点专科、广东省中医药局“十二五”重点专科建设单位，“中医耳鼻咽喉科学”入围国家中医药管理局“十二五中医药重点学科”遴选；口腔科是广东省临床重点专科；心内科为佛山市首批特色专科；检验科为“十二五”佛山市特色专科。</p>
          <p>2015年12月，医院5个专科获得佛山市医学重点专科培育项目，其中眼科获国家卫计委级医学重点专科培育，耳鼻咽喉科获国家中医药管理局级医学重点专科培育，心内科、口腔科、临床检验科获省级医学重点专科培育。</p>
          <h3>五、科研教学</h3>
          <p>“十二五”期间，医院共获得科研课题183项，其中国家自然科学基金课题1项，省部级项目8项，市厅级项目105项，共获经费资助210万元。发表学术论文698篇，其中SCI  16篇，中文核心182篇，科技核心200篇。同期，获市、区级科技奖励24项，其中市科学技术奖励壹等奖2项。</p>
          <p>医院2000年开始成为省级住院医师规范化培训基地，承担住院医师规范化培训工作。2014年，眼科中心作为南方医科大学珠江医院协同基地，率先成为国家第一批规范化培训专业基地；2016年年初，经广东省卫计委审批通过，医院另有17个专业成为珠江医院的协同专业基地。</p>
          <h3>六、医院荣誉</h3>
          <p>2010年8月获中华人民共和国人力资源和社会保障部批准成立博士后科研工作站；2013年1月获卫生部医药生物工程技术研究中心批准成立佛山临床研究基地；佛山市临床医药研究中心、佛山市企业博士后站临床综合实验室、佛山市眼科研究所、佛山市防盲办公室、佛山市低视力康复指导站、广东医学院硕士研究生联合培养基地、广东省红十字眼角膜捐献中心佛山工作站等均设在我院；急救技能健康教育基地入选广东省第三批卫生计生宣传示范基地；荣获广东省委、省政府办公厅联合颁发“扶贫工作优秀单位”、“佛山市扶贫工作先进单位”、“扶贫双到和卫生帮扶工作特别贡献奖”、省“全省流感监测管理综合评定第一名”、“南方医科大学临床教师教学能力竞赛二等奖”等奖项；连续多年获得“市直医疗卫生单位综合目标管理责任制考评先进单位”称号。</p>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>  
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>   
  </body>
</html>
