<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市高明区人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="content-padded">
          <p>佛山市高明区人民医院始建于1984年，是高明区唯一的大型现代化三级乙等综合性医院。全院业务用房面积59103平方米，总资产4.8亿元。编制床位700张，年门诊量102万人次、住院3.27万人次。是广东省普通高等医学院校教学医院、广东医学院非直属附属医院、广东省人民医院双向转诊合作医院和卫生部医改重点联系县级医院，服务人口逾120万人。</p>
          <p>医院现有员工830人，其中高级职称88人，中级职称176人，初级职称270人；博士、硕士36人，医师中本科以上学历者占97%。</p>
          <p><strong>学科设置：</strong>医院临床学科建设齐全，设置有普通外科、心胸外科、骨外科、显微外科、颅脑外科、泌尿外科、烧伤整形外科、心血管内科、神经内科、呼吸内科、肿瘤内科、介入科、消化内科、内分泌科、肾内科、血液内科、感染内科、妇科、产科、儿科、眼科、耳鼻咽喉科、口腔科、中医科、皮肤科、麻醉科、急诊科、重症医学科、医学康复中心、无痛诊疗中心、健康体检中心、血液透析中心、医学验光配镜中心。高明区急救中心设在我院。</p>
          <p>其中，普通外科是佛山市特色专科；重症医学科、感染内科、心血管内科、关节外科、妇产科、手外科、麻醉科、超声科是区重点（特色）专科；脊柱外科、神经内科是医院重点学科。</p>
          <p>医技科室设置有检验科、输血科、病理科、放射科（含CT/MR室）、B超室、心肺功能室、内窥镜室、高压氧治疗室、手术室、供应室、营养科、电生理室、理疗室等。</p>
          <p><strong>先进设备：</strong>医院拥有1.5T核磁共振（MRI）、DSA、四维彩色多普勒、CR、DR、数字化口腔全景机、数字化乳腺钼靶机、大型生化仪、高清腹腔镜、电子胃肠镜、高压氧舱、生化分析仪、冰冻切片机、麻醉机和呼吸机、危重病人中央监护系统等总价值超亿元的先进医疗设备。</p>
          <p>医院坚持“以病人为中心、以员工为手足、以发展为目标”的办院方针，持续提高医疗技术和服务水平，建设学科强、技术精的现代化三级医院，为经济社会发展和广大市民健康保驾护航。</p>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>     
  </body>
</html>
