<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市第二人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="card no-margin">
          <div class="card-header">
            科室介绍
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>佛山市第二人民医院内分泌科创建于1994年，并于1998年成立糖尿病中心，经过20年努力，目前科室拥有高级职称4人，博士及硕士共4人，是佛山市内分泌学会副主委单位，也是佛山市骨质疏松学会副主委单位，内分泌硕士生的培养基地。</p>
              <p>临床医疗工作：科室开设内分泌科门诊诊治中心，为患者提供全面系统的诊疗流程。开设内分泌科专科病房，熟练诊治糖尿病、骨质疏松症、肥胖症、痛风、高脂血症等代谢性疾病，在席汉氏综合征、尿崩症、甲状腺疾病、甲状旁腺疾病、原发性醛固酮增多症、库欣综合征、嗜铬细胞瘤、性早熟等内分泌疾病的诊治工作中积累了丰富的经验。熟练诊治糖尿病酮症酸中毒、高渗性昏迷、甲亢危象、高钙血症等急危重症，成功抢救DKA合并急性溶血性贫血2例，成功诊治胰岛素自身免疫综合征1例。有效延缓糖尿病并发症的进展，对糖尿病足病有深入的研究；部分糖尿病患者经综合系统的治疗后在长达4年时间内不用任何药物治疗，许多省内外的患者慕名前来诊治。目前科室拥有胰岛素泵、动态血糖监测仪、糖尿病足筛查箱、空气波压力治疗仪、眼底照相机，双能X线度密度仪。科室能够系统治疗Graves病，减少其复发率；正确鉴别甲状腺良恶性结节；系统化治疗骨质疏松症，减少骨折发生；综合性诊治肥胖症。</p>
              <p>科研教学工作：积极开展临床及基础科研工作，先后在国内外核心医学刊物发表论文30余篇，参编《内分泌学》等专著；完成省科技厅科研项目4项，市级科研项目若干；带教研究生及本科生若干名。在本地区享有较高的学术地位。</p>
              <p>我们将一如既往坚持糖尿病患教工作。</p>
              <p>我们的理念：厚德载物！精益求精！</p>
            </div>
          </div>
        </div>
        <div class="card no-margin card-tdjs">
          <div class="card-header">
            团队介绍
          </div>
          <div class="card-content">
            <div class="list-block media-list">
              <ul>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2008-1212-99362-方咏红s.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:方咏红</div>
                    </div>
                    <div class="item-subtitle">职称:内分泌主任医师</div>
                    <div class="item-text">特长:擅长于糖尿病、甲状腺疾病、内分泌失调、高血压、高血脂、骨质疏松等病的治疗。</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2009-119-48781-2邵虹(主任医师)s.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:邵虹</div>
                    </div>
                    <div class="item-subtitle">职称:内分泌主任医师</div>
                    <div class="item-text">特长:擅长糖尿病、甲亢等内分泌疾病的诊疗</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2015-422-90604-内分泌0655谭淑英.JPG" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:谭淑英</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师 主管医师</div>
                    <div class="item-text">特长:暂无描述</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>  
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>   
  </body>
</html>
