<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市第二人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
          <div class="center">
            <div class="hos-header">
              <div class="hos-img"><img src="../src/images/tp-hos-001.jpg"></div>
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-hotel"></i></div>
                    <div class="item-inner">
                      <div class="item-title">床位数:1038张</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-stethoscope"></i></div>
                    <div class="item-inner">
                      <div class="item-title">年门诊量:200万人次</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><i class="fa fa-fw fa-money"></i></div>
                    <div class="item-inner">
                      <div class="item-title">诊疗收入:489571千元</div>
                      <div class="item-after"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="content-block-title clearfix">
                <span class="pull-left">医院简介</span>
                <a href="hospital-intro-001.html" class="more external pull-right">MORE</a>
              </div>
              <div class="card no-margin">
                <div class="card-content">
                  <div class="card-content-inner">医院位于繁华的市中心，至今已有94年历史，是一所融医疗、教学、科研、预防、保健、康复为一体的现代化三级甲等综合性医院，是南方医科大学附属佛山医院，也是国家级博士后科研工作站挂牌单位。</div>
                </div>
              </div>
              <div class="content-block-title clearfix">
                <span class="pull-left">科室导航</span>
              </div>
              <div class="card no-margin">
                <div class="card-header">临床科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                        
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">眼科中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">佛山眼科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">耳鼻咽喉-头颈外科中</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">口腔医学中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">口腔颌面整形外科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">心功能不全病科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>68</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">心律失常病科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">高血压病科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>87</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">冠心病科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>79</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">心脏介入及CCU</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">介入中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">心脏外科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">甲状腺、疝气、小儿外</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">肝胆外科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">胃肠外科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">神经外科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">胸外乳腺科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">泌尿一科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">泌尿二科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">骨科中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">骨伤科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">感染科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">呼吸内科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>21</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">消化内科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li>
                          <a href="hospital-team-001.html" class="item-link item-content">
                            <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                            <div class="item-inner">
                              <div class="item-title pull-left">内分泌科</div>
                              <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>92</div>
                            </div>
                          </a>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">血液肿瘤科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">神经内科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>5</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">肾病风湿科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">消毒供应中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">综合病区</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">康复科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">妇产科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">儿科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">麻醉科手术室</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">疼痛科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">重症医学科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">急诊科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">体检中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">皮肤科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">中医科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>32</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">医学美容科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">临床营养科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">技能培训中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">医技科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">检验科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">内镜中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">药学部</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">影像中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">B超室</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">病理科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">院外门诊</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">第二门诊部</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card-header">行政科室</div>
                <div class="card-content">
                  <div class="list-block">
                    <ul>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">党办</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">医院办公室</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">医务科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">科教科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">护理部</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">质控科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">院感科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">人事科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">监察室</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">宣传科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">信息中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">医疗保险管理科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">财务科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">医疗设备科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">总务科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">机电科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">保卫科</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">工会</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">团委</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">门诊部</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                      <li class="item-content no-link">
                          <div class="item-media"><i class="fa fa-fw fa-user-md"></i></div>
                          <div class="item-inner">
                            <div class="item-title pull-left">服务管理中心</div>
                            <div class="item-after pull-right"><i class="fa fa-thumbs-o-up"></i>0</div>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- 医院介绍 -->
    <div class="popup popup-intro">
      <header class="bar bar-nav">
        <button class="close-popup button button-link button-nav pull-right">
          <i class="fa fa-lg fa-close">&nbsp;</i>
        </button>
        <h1 class="title">佛山市第二人民医院（佛山市二）</h1>
      </header>
      <div class="content">
        <div class="content-padded">
          <h3>一、医院概述</h3>
          <p>医院位于繁华的市中心，至今已有94年历史，是一所融医疗、教学、科研、预防、保健、康复为一体的现代化三级甲等综合性医院，是南方医科大学附属佛山医院，也是国家级博士后科研工作站挂牌单位。</p>
          <h3>二、医院规模</h3>
          <p>医院编制床位838张，实际开放床位1038张。全院现有工作人员1263人，其中专业技术人员1145人，正高职称67人，副高职称129人，博士14人，硕士108人。设职能科室17个，临床科室47个（其中一级临床科室18个，二级临床科室29个）、医技科室15个。2015年门诊人次200万，出院病人4万。</p>
          <h3>三、医疗设备</h3>
          <p>医院拥有万元以上医疗设备共1260台，设备总价值达2.77亿多元，包括核磁共振、螺旋CT、DR、钼靶、DSA、四维超声诊断仪、大型全自动生化分析仪、准分子激光治疗仪、OCT等一大批国际领先的医疗设备。</p>
          <h3>四、学科建设</h3>
          <p>医院目前拥有9个省、市级重点（特色）专科：眼科是广东省临床重点专科、佛山市首批重点专科，入围国家重点专科遴选；耳鼻咽喉科是广东省临床重点专科、广东省中医药局“十二五”重点专科建设单位，“中医耳鼻咽喉科学”入围国家中医药管理局“十二五中医药重点学科”遴选；口腔科是广东省临床重点专科；心内科为佛山市首批特色专科；检验科为“十二五”佛山市特色专科。</p>
          <p>2015年12月，医院5个专科获得佛山市医学重点专科培育项目，其中眼科获国家卫计委级医学重点专科培育，耳鼻咽喉科获国家中医药管理局级医学重点专科培育，心内科、口腔科、临床检验科获省级医学重点专科培育。</p>
          <h3>五、科研教学</h3>
          <p>“十二五”期间，医院共获得科研课题183项，其中国家自然科学基金课题1项，省部级项目8项，市厅级项目105项，共获经费资助210万元。发表学术论文698篇，其中SCI  16篇，中文核心182篇，科技核心200篇。同期，获市、区级科技奖励24项，其中市科学技术奖励壹等奖2项。</p>
          <p>医院2000年开始成为省级住院医师规范化培训基地，承担住院医师规范化培训工作。2014年，眼科中心作为南方医科大学珠江医院协同基地，率先成为国家第一批规范化培训专业基地；2016年年初，经广东省卫计委审批通过，医院另有17个专业成为珠江医院的协同专业基地。</p>
          <h3>六、医院荣誉</h3>
          <p>2010年8月获中华人民共和国人力资源和社会保障部批准成立博士后科研工作站；2013年1月获卫生部医药生物工程技术研究中心批准成立佛山临床研究基地；佛山市临床医药研究中心、佛山市企业博士后站临床综合实验室、佛山市眼科研究所、佛山市防盲办公室、佛山市低视力康复指导站、广东医学院硕士研究生联合培养基地、广东省红十字眼角膜捐献中心佛山工作站等均设在我院；急救技能健康教育基地入选广东省第三批卫生计生宣传示范基地；荣获广东省委、省政府办公厅联合颁发“扶贫工作优秀单位”、“佛山市扶贫工作先进单位”、“扶贫双到和卫生帮扶工作特别贡献奖”、省“全省流感监测管理综合评定第一名”、“南方医科大学临床教师教学能力竞赛二等奖”等奖项；连续多年获得“市直医疗卫生单位综合目标管理责任制考评先进单位”称号。</p>
        </div>
      </div>
    </div>
    <!-- 科室介绍 -->
    <div class="popup popup-ks">
      <header class="bar bar-nav">
        <button class="close-popup button button-link button-nav pull-right">
          <i class="fa fa-lg fa-close">&nbsp;</i>
        </button>
        <h1 class="title">内分泌科</h1>
      </header>
      <div class="content">
        <div class="card no-margin">
          <div class="card-header">
            科室介绍
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>佛山市第二人民医院内分泌科创建于1994年，并于1998年成立糖尿病中心，经过20年努力，目前科室拥有高级职称4人，博士及硕士共4人，是佛山市内分泌学会副主委单位，也是佛山市骨质疏松学会副主委单位，内分泌硕士生的培养基地。</p>
              <p>临床医疗工作：科室开设内分泌科门诊诊治中心，为患者提供全面系统的诊疗流程。开设内分泌科专科病房，熟练诊治糖尿病、骨质疏松症、肥胖症、痛风、高脂血症等代谢性疾病，在席汉氏综合征、尿崩症、甲状腺疾病、甲状旁腺疾病、原发性醛固酮增多症、库欣综合征、嗜铬细胞瘤、性早熟等内分泌疾病的诊治工作中积累了丰富的经验。熟练诊治糖尿病酮症酸中毒、高渗性昏迷、甲亢危象、高钙血症等急危重症，成功抢救DKA合并急性溶血性贫血2例，成功诊治胰岛素自身免疫综合征1例。有效延缓糖尿病并发症的进展，对糖尿病足病有深入的研究；部分糖尿病患者经综合系统的治疗后在长达4年时间内不用任何药物治疗，许多省内外的患者慕名前来诊治。目前科室拥有胰岛素泵、动态血糖监测仪、糖尿病足筛查箱、空气波压力治疗仪、眼底照相机，双能X线度密度仪。科室能够系统治疗Graves病，减少其复发率；正确鉴别甲状腺良恶性结节；系统化治疗骨质疏松症，减少骨折发生；综合性诊治肥胖症。</p>
              <p>科研教学工作：积极开展临床及基础科研工作，先后在国内外核心医学刊物发表论文30余篇，参编《内分泌学》等专著；完成省科技厅科研项目4项，市级科研项目若干；带教研究生及本科生若干名。在本地区享有较高的学术地位。</p>
              <p>我们将一如既往坚持糖尿病患教工作。</p>
              <p>我们的理念：厚德载物！精益求精！</p>
            </div>
          </div>
        </div>
        <div class="card no-margin card-tdjs">
          <div class="card-header">
            团队介绍
          </div>
          <div class="card-content">
            <div class="list-block media-list">
              <ul>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2013-423-53384-王运林(小）.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:王运林</div>
                    </div>
                    <div class="item-subtitle">职称:眼科主任医师</div>
                    <div class="item-text">特长:糖尿病、甲状腺疾病、骨质疏松、肥胖症</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2008-1212-99362-方咏红s.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:方咏红</div>
                    </div>
                    <div class="item-subtitle">职称:内分泌主任医师</div>
                    <div class="item-text">特长:擅长于糖尿病、甲状腺疾病、内分泌失调、高血压、高血脂、骨质疏松等病的治疗。</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2009-119-48781-2邵虹(主任医师)s.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:邵虹</div>
                    </div>
                    <div class="item-subtitle">职称:内分泌主任医师</div>
                    <div class="item-text">特长:擅长糖尿病、甲亢等内分泌疾病的诊疗</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2015-422-90604-内分泌0655谭淑英.JPG" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:谭淑英</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师 主管医师</div>
                    <div class="item-text">特长:暂无描述</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2009-1016-78971-lhls.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:吕红玲 (泪道疾病专科主任)</div>
                    </div>
                    <div class="item-subtitle">职称: 主任医师 硕士研究生导师</div>
                    <div class="item-text">特长:开设白内障及泪器病专科，能正确诊治眼科常见病、多发病,熟练处理各种眼科急症,对眼科疑难病例能进行正确的分析，掌握各种眼科常见手术，具有良好的显微手术基础，能熟练进行白内障超声乳化摘除联合人工晶体植入术，能熟练进行泪道内窥镜下泪道激光和微钻手术，小切口鼻腔泪囊吻合术，泪道置管术、泪小管切开取石术，小儿泪道探通等多种泪道手术。</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/imgs2012-618-31666-1.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:段虎成 (眼科中心副主任) (角膜及眼表病专科主任)</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师 眼科学博士</div>
                    <div class="item-text">特长:擅长角膜移植，羊膜移植，眼部整形，义眼座植入、翼状胬肉切除联合角膜缘干细胞移植术、泪道浚通联合硅胶管植入术等手术。对于常见及重症干眼，复杂眼部化学伤，泪道疾病等诊治有独到的见解</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>  
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>   
  </body>
</html>
