<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市顺德区大良医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="card no-margin">
          <div class="card-header">
            科室介绍
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <p>内二科由神经内科和内分泌科两个专科组成，位于住院部4楼，目前开放床位62张。科室技术力量雄厚，人才梯队合理，现有医师10人，其中高级职称2人，中级职称6人，住院医师2人。护理人员14名，其中主管护师1名，护师9名，护士4名。科室配备有多功能心电监护、72小时动态血糖监测仪、快速血糖仪、胰岛素泵等高精设备。科室与广州医科大学附属一医院神经内科长期保持技术合作，专家每周定期到科室进行坐诊、教学查房以及疑难病例诊治。</p>
              <p><strong>目前科室诊治范围及开展的特色技术主要有：</strong></p>
              <p><strong>1、神经内科专科：</strong>急性缺血性脑卒中溶栓治疗、脑血管疾病（中风）、老年性痴呆（帕金森氏病）、中枢神经系统感染、面神经炎、颈椎病、周围神经疾病、癫痫、各种原因引起的头晕、头痛、失眠、肌肉麻木、乏力等。可开展的特色技术有：全脑血管造影，动脉溶栓、颅内血管支架植入、颈内血管支架植入，脑深部电刺激术等。</p>
              <p><strong>2、内分泌专科：</strong>科室成立“糖尿病之家”，定期为糖尿病患者进行健康宣教，对1型糖尿病、2型糖尿病、糖尿病病足、糖尿病肾病、糖尿病酮症酸中毒等糖尿病急慢性并发症的诊治积累了丰富的临床经验；综合治疗甲状腺功能亢进、甲状腺功能低下等内分泌疾病。 </p>
              <p>科室咨询电话：0757-22913655 </p>
            </div>
          </div>
        </div>
        <div class="card no-margin card-tdjs">
          <div class="card-header">
            团队介绍
          </div>
          <div class="card-content">
            <div class="list-block media-list">
              <ul>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711236.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:陈锐祥</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:顺德医学会心血管分会委员，内二科主任，主治医师。毕业于华中科技大学临床医学系，本科学历，学士学位，从事临床工作 20余年，2000年进修于中山医科大学附属第一医院心血管内科，擅长各种内科常见病，多发病的临床诊治，在老年病、冠心病、中风等心脑血管疾病的诊治积累了丰富的临床经验。  </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711359.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:龙嘉玲</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:毕业于顺德职工中专，内科主治医师。从事临床工作30多年，在各种内科常见病，多发病，老年病等方面积累了丰富的临床经验，特别是糖尿病的诊治具备独特的专长。</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711427.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:罗利华</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师</div>
                    <div class="item-text">特长:广东省医学会慢性病分会委员、顺德医学会内分泌分会委员，毕业于中山医科大学临床医学系，本科学历，学士学位，内分泌科副主任医师。从事临床工作 10多年，2003年曾于中山医科大学附属第二医院内分泌科进修学习，擅长糖尿病、甲状腺疾病、肾上腺疾病、垂体病变、肥胖等内分泌代谢疾病的临床诊治。</div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711525.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:刘梦秋</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:毕业于江西中医学院，本科学历，学士学位，内科主治医师。从事临床工作30余年，曾分别于江西省肺科医院、珠江医院进修学习，擅长老年病、冠心病、中风等心脑血管中西医结合治疗。 </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711597.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:顾慧燕</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:毕业于华中科技大学临床医学系，本科学历，主治医师。从事临床工作 20余年，1998曾于顺德区第一人民医院神经内科进修学习，擅长眩晕、帕金森病、老年性痴呆、癫痫、睡眠障碍、脑血管病等老年神经系统退行性疾病的临床诊治。 </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711694.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:王子源</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:毕业于广西中医学院，本科学历，学士学位，内科主治医师。从事临床工作 10余年，2012年进修于广东省南方医科大学附属珠江医院高压氧科，擅长高血压病、冠心病、心律失常、糖尿病、甲亢、中风等疾病的中西医结合治疗。 </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/1432711759.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:黄必武</div>
                    </div>
                    <div class="item-subtitle">职称:主治医师</div>
                    <div class="item-text">特长:毕业于广西桂林医学院临床医学专业，本科学历，学士学位，内科主治医师。从事临床工作 10 余年，2010年于广州医科大学附属第一医院神经内科进修学习，擅长脑血管病、帕金森病等神经内科常见病、多发病的临床诊治。 </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>     
  </body>
</html>
