<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>佛山市高明区人民医院</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content">
        <div class="card no-margin">
          <div class="card-header">
            科室介绍
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <h3>内分泌科</h3>
              <p>内分泌科致力于内分泌、代谢病的研究治疗。内分泌疾病主要指糖尿病等代谢疾病和下丘脑、垂体、甲状腺、甲状旁腺、肾上腺、性腺等疾病。2011年全世界糖尿病患病人数已达到惊人的3.66亿。在全球范围内，平均每7秒钟就有一个人因糖尿病失去生命。每年约有460万人死于糖尿病。近年中国糖尿病流行病学调查结果：成人糖尿病患病率达到了11.6%，估算中国糖尿病患病人数达1.14亿。糖尿病已成为我国主要的健康问题，防治糖尿病是我们的重要任务。 </p>
              <p>在这里就医，医生采用与当今世界同步治疗的方案，分别针对不同病人精细治疗，应用全新进口名牌设备，如采用动态血糖监测系统和智能胰岛素泵等先进的治疗模式，强化血糖控制，全面、安全、理性化地治疗糖尿病，从而实现了在高明就能享受到世界上先进的治疗。同时，我们更加专注于“糖尿病足、糖尿病周围神经病变、早期糖尿病肾病、妊娠期糖尿病”的治疗，抢救“糖尿病酮症酸中毒、糖尿病高渗性昏迷、低血糖昏迷、甲状腺危象”有丰富经验。我们的护理团队更是细心关照每一位患者。为了更好地为糖尿病患者提供优质服务，我院建立糖尿病俱乐部，提供糖尿病的健康教育和信息的交流场所，定期进行糖尿病讲座，开设“厨房门诊”，将厨房搬入糖尿病教育的现场，宣传糖尿病治疗的正确观念，避免治疗的误区。我们与患者携手共进，控制糖尿病。</p>
              <h3>风湿免疫科</h3>
              <p>风湿免疫科致力于风湿免疫疾病的研究和治疗，风湿免疫疾病种类繁杂，诊治难度大，治疗困难，我们将迎难而上。常见疾病如下：类风湿关节炎、强直性脊柱炎、银屑病关节炎、风湿热、莱姆病、赖特综合征、反应性关节炎、系统性红斑狼疮、原发性干燥综合征、系统性硬化症、多发性肌炎、皮肌炎、混合性结缔组织病、血管炎等。</p>
            </div>
          </div>
        </div>
        <div class="card no-margin card-tdjs">
          <div class="card-header">
            团队介绍
          </div>
          <div class="card-content">
            <div class="list-block media-list">
              <ul>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/2015011209040747.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:李骏</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师</div>
                    <div class="item-text">特长:内分泌科副主任医师，内七科主任、副教授,广东省糖尿病分会委员、佛山糖尿病分会副主任委员、佛山市中西结合内分泌学会副主任委员、高明区人民医院内分泌学科带头人。 擅长糖尿病、代谢综合征（高血糖、高血压、高血脂、高尿酸、脂肪肝、肥胖、）甲状腺疾病、骨质疏松症、痛风的治疗。 </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-media"><img src="../src/images/201501121027452745.jpg" style='width: 3.5rem;'></div>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">姓名:李有佳</div>
                    </div>
                    <div class="item-subtitle">职称:副主任医师</div>
                    <div class="item-text">特长:内分泌科副主任医师，广东省医师协会内分泌分会委员、佛山市内分泌分会委员， 长期从事内分泌专业临床一线工作，擅长于糖尿病、高脂血症、高尿酸血症及痛风、甲状腺疾病等内分泌疾病的诊治。 </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部工具栏 end -->
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>     
  </body>
</html>
