<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <title>医院列表</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <!-- 二级菜单 start -->
      <div class="bar select-header-secondary">
        <div class="row no-gutter table-row-header no-edit">
          <div class="col-4-ds" style="text-align:left">地市</div>
          <div class="col-5-tym" style="width:25%">通用名</div>
          <div class="yxyy yxyy-38 no-add" style="width:48%;text-align:left;">
            已选医院
          </div>
        </div>
      </div>
      <!-- 二级菜单 end -->
      <div class="content has-footer-secondary no-footer has-secondary-header infinite-scroll" data-distance="100">
        <div class="center">
          <div class="list-block item-pean-horizontal">
            <ul class="table-row" id="getUserHostInfo"></ul>
          </div>
        </div>
      </div>
      <div class="bar bar-footer-secondary bar-footer-secondary-nofooter text-center">
        <div class="text">可解锁医院<span id="allHospital"></span>，已解锁医院<span id="readyHospital"></span></div>
      </div>
    </div>
    <!-- <script src="dist/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="../src/js/jweixin-1.0.0.js"></script>
    <script src="../src/js/zepto.js"></script>
    <script type="text/javascript" src="../src/js/common.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-city-picker.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../lib/light7/js/light7-extend.min.js"></script>
    <script type="text/javascript" src="../src/js/data.api.js"></script>
    <script src="../src/js/all.js"></script>
    <script type="text/javascript">
       var loading = false;
       $.attachInfiniteScroll('.infinite-scroll');
       
       $(document).on('infinite', '.infinite-scroll',function() {
          if (loading) return;
          loading = true;
          dataApi.getUserHostInfo(function(data,totalNum){
            renderDom(data);
            if($('#getUserHostInfo li').length >= totalNum){
              $.detachInfiniteScroll($('.infinite-scroll'));
              $('.infinite-scroll-preloader').hide();
            }
            loading = false;
          },{
            sidx: 'lockStatus',
            sord: 'desc'
          });
       });
       $('.infinite-scroll').trigger('infinite');
       //读取医院数量
       dataApi.getUserLockInfo(function(d){
        $('#allHospital').text(d.lockCount);
        $('#readyHospital').text(d.userLockCount);
       });

       function renderDom(data){
        var str = '';
        $.each(data, function() {
            str += '<li class="item-content no-edit" data-id="'+this.id+'" data-hosCode="'+this.hospitalCode+'" data-hId="'+this.hospitalId+'" data-aId="'+this.areaId+'" data-bId="'+this.breedId+'"'+'" data-lockStatus="'+this.lockStatus+'"><div class="item-inner">';
            str += '<div';
            if(this.isLockStatus != 0){
              str += ' onclick="getHosInfo(this)"';
            }
            str += '>';
            str += '<div class="col-4-ds text-left"><span>' + this.areaName + '</span></div>';
            str += '<div class="col-5-tym has-add" style="width:25%;">' + (this.genericNameShort || this.genericName) + '<i class="bradge">' + translateIcoType(this.routeIcoType) + '</i></div>';
  
            if(this.isLockStatus == 0){
                str += '<div class="yxyy yxyy-38 no-add" style="width:56%;text-align:left;">' + this.hospitalCode + ' ' + (this.hospitalShortName || this.hospitalName) + ' (数据正在调研中，敬请期待!)<i class="bradge no-bg">' + translateIcoType(this.hosIcoType) + '</i></div></div>';
            }else{
                str += '<div class="yxyy yxyy-38"  style="width:48%;text-align:left;">' + this.hospitalCode + ' ' + (this.hospitalShortName || this.hospitalName) + '<i class="bradge no-bg">' + translateIcoType(this.hosIcoType) + '</i></div></div>';
                str += '<div class="add "' + (this.lockStatus !== 0 ? 'hidden' : '') + ' onclick="unlockAction(this)"><i class="fa fa-lock fa-lg"></i></div>';
                str += '<div class="add "' + (this.lockStatus === 0 ? 'hidden' : '') + '><i class="fa fa-unlock fa-lg"></i></div>';
            }
            str += '</div></li>';
        })
        $(str).appendTo($('#getUserHostInfo'));
       }
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>
</html>