<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <meta charset="utf-8" />
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="format-detection"content="telephone=no"/>
    <meta http-equiv="pragma" content="no-cache">
    <title>药市通操作手册</title>
    <link href="../lib/light7/css/light7.min.css" rel="stylesheet" />
    <link href="../lib/light7/css/light7-extend.min.css" rel="stylesheet" />
    <link href="../lib/fontAw/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../dist/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <div class="page">
      <div class="content doc-content">
        <h3>一、功能模块</h3>
        <p>药市通功能模块分为自选、行情、产品、医院、个人中心五大模块，其中，产品和医院两个模块正在建设当中。</p>
        <p><img src="../src/doc/t1.png"/></p>
        <h3>二、行情</h3>
        <p>行情模块从多个角度展现区域市场总体表现的全景，页面从上至下分为地市及时间切换区域、中西药市场、分类涨幅榜、概念涨幅榜、品种影响力排行榜五个部分。</p>
        <p><img src="../src/doc/t2.png"/></p>
        <h4>1、地市及时间切换区域</h4>
        <p>地市默认用户所在地市，时间默认数据最新年月。</p>
        <p><img src="../src/doc/t3.png"/></p>
        <h4>2、中西药市场</h4>
        <p>中西药市场从左到右由上至下分别显示西药、中成药当月市场规模、环比增长额及环比增长率（比上月）。</p>
        <p><img src="../src/doc/t4.png"/></p>
        <h4>3、分类涨幅榜</h4>
        <p>点击【….】查看所有一级药理分类，点击具体分类可查看相应分类的品种列表。</p>
        <p><img src="../src/doc/t5.png"/></p>
        <h4>4、概念涨幅榜</h4>
        <p>点击【….】查看所有概念涨市场，点击具体概念市场可查看相应概念市场的产品列表。其他操作同分类涨幅榜。</p>
        <h4>5、品种影响力排行榜</h4>
        <p><img src="../src/doc/t6.png"/></p>
        <h3>三、自选</h3>
        <p>指标说明：</p>
        <p>①、已选医院： 已选择医院数 / 该品种医院总数；</p>
        <p>②、解锁医院： 已解锁医院数 / 已选择医院数；</p>
        <p><img src="../src/doc/t7.png"/></p>
        <p>自选模块中的操作流程：</p>
        <p><img src="../src/doc/t8.png"/></p>
        <h4>1、添加品种</h4>
        <p>点击左上角功能按钮【添加】进入添加品种页面，点击品种添加按钮【+】可将品种添加至自选列表。</p>
        <p><img src="../src/doc/t9.png"/></p>
        <h4>2、添加医院</h4>
        <p>自选页面点击某一品种进入该品种下的已选医院列表，点击【添加】跳转至添加医院页面，点击【+】选择医院可将医院添加至已选医院列表。</p>
        <p><img src="../src/doc/t10.png"/></p>
        <h4>3、解锁医院</h4>
        <p>通过”已选医院列表“或“医院列表“页面可进入查看医院产品信息页面，未解锁状态显示部分信息，点击【解锁】按钮解锁后可查看产品完整信息。</p>
        <p><img src="../src/doc/t11.png"/></p>
        <h4>4、已选医院列表</h4>
        <p><img src="../src/doc/t12.png"/></p>
        <p>如有其它问题，请在微信公众号内进行留言，我们的客服会及时回复。</p>

      </div>
    </div>
    <script src="../src/js/zepto.js"></script>
    <script src="../lib/light7/js/light7.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?a7277cbc790008ad84ec010f0d2df209";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>
</html>